[user]
  name = John Berry
  email = ulfmagnetics@gmail.com
[alias]
	co = checkout
	st = status
	ctags = !.git/hooks/ctags
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/john/.gitignore
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
